data/flows.json
[{"id":"df958de.73fbd7","type":"tab","label":"Introduction","disabled":false,"info":""},{"id":"7729635e.0ae0d4","type":"tab","label":"Introduction - Solution","disabled":true,"info":""},{"id":"1495e62c.0ddc22","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b2ca5939.50f5a8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"72d3aae3.eeeb5c","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"12"},{"id":"15a57c04.564e7c","type":"ui_tab","z":"","name":"Sentiment of Tweets About President Trump","icon":"dashboard","order":1},{"id":"e1b7d474.9903c8","type":"ui_group","z":"","name":"Group 1","tab":"15a57c04.564e7c","order":1,"disp":false,"width":"18"},{"id":"366967aa.565278","type":"ui_group","z":"","name":"Group 2","tab":"15a57c04.564e7c","order":2,"disp":false,"width":"6"},{"id":"52a5d14a.45417","type":"twitter in","z":"7729635e.0ae0d4","twitter":"","tags":"trump","user":"false","name":"","topic":"tweets","inputs":1,"x":130,"y":100,"wires":[["f1fd7547.32a87"]]},{"id":"f1fd7547.32a87","type":"sentiment","z":"7729635e.0ae0d4","name":"","x":280,"y":100,"wires":[["7dc8badd.8e080c"]]},{"id":"7dc8badd.8e080c","type":"join","z":"7729635e.0ae0d4","name":"","mode":"custom","build":"array","property":"sentiment.score","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","x":430,"y":100,"wires":[["f66ac686.e9603","db7a9454.cf47d"]]},{"id":"fb6b8514.065308","type":"ui_chart","z":"7729635e.0ae0d4","name":"","group":"e1b7d474.9903c8","order":0,"width":"18","height":"12","label":"Aggregate Sentiment Value per 10s Time Period","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"x":840,"y":100,"wires":[[],[]]},{"id":"f66ac686.e9603","type":"function","z":"7729635e.0ae0d4","name":"","func":"var scores = msg.sentiment.score;\n\nvar posMsg = {\n    topic: \"Positive\",\n    payload: 0\n}\n\nvar negMsg = {\n    topic: \"Negative\",\n    payload: 0\n}\n\nvar avgMsg = {\n    topic: \"Average\",\n    payload: 0\n}\n\nfor (var i=0; i < scores.length; i++) {\n    var score = scores[i];\n    if (score > 0) {\n        posMsg.payload = posMsg.payload + score\n    } else {\n        negMsg.payload = negMsg.payload + score\n    }\n    \n    avgMsg.payload = avgMsg.payload + score\n}\n\navgMsg.payload = avgMsg.payload / scores.length\n\nreturn [[posMsg, negMsg], avgMsg];","outputs":"2","noerr":0,"x":570,"y":100,"wires":[["fb6b8514.065308"],["1e8f3b6d.232ba5"]]},{"id":"1e8f3b6d.232ba5","type":"ui_gauge","z":"7729635e.0ae0d4","name":"","group":"366967aa.565278","order":0,"width":"6","height":"6","gtype":"gage","title":"Average Sentiment","label":"","format":"{{value | number:2}}","min":"-1","max":"1","colors":["#CA3838","#E6E600","#00B500"],"seg1":"Negative","seg2":"Positive","x":750,"y":140,"wires":[]},{"id":"db7a9454.cf47d","type":"ui_text","z":"7729635e.0ae0d4","group":"366967aa.565278","order":0,"width":"6","height":"6","name":"","label":"tweet","format":"{{msg.payload}}","layout":"col-center","x":710,"y":180,"wires":[]}]